body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  background: #fc1e8a;
  user-select: none;//impede que o usuario selecione elementos na pagina 

  .container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    background: linear-gradient(
      325deg,
      #03001e 0%,
      #7303c0 30%,
      #ec38bc,
      #fdeff9 100%
     );

     padding: 40px 60px;

     h2{
      font-size:3em;
      color: #fff;
      text-transform: uppercase;
      letter-spacing:0.1em;
     }

     .reset{
      padding:15px 20px;
      width: 100%;
      color: #000;
      background-color: #fff;
      border: none;
      font-size:1.5em;
      letter-spacing:0.1em;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 600;
      &:focus{
        color: #ec38bc;
        background-color: #262809;
      }
     }

     .game{
        width: 430px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        transform-style: preserve-3d;
        perspective: 500px;

        .item{
          position: relative;
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
        
          font-size: 3em;
          transform: rotateY(180deg);
          transition: 0.25s;

          &::after{
            content: "";
            position: absolute;
            inset: 0;//seta o pponto 0 do elemento 
            background: #404040;
            transition: 0.25s;
            transform: rotateY(0deg);
            backface-visibility: hidden;//esconde o carde, não so sobrepoem 
          }
          &.boxOpen{
            transform: rotateY(0deg);
            &::after{
              transform: rotateY(180deg);
            }
          }

          &.boxMatch{
            &::after{
              transform: rotateY(180deg);
            }
          }
        }
     }
  }

}

@media  (max-width:596px){
  body{
    .container{
      padding: initial;
      h2{
       font-size:1.5em;
      }
      .reset{
        width: 90%;
       }
      .game{
        width: 90%;
        justify-content: center;
        align-items: center;
        .item{
          width: 20%;
          height: 15%;
          font-size: 2em;
        }
      }
   }
  }

}
